<%= form_with model: [new_message.room, new_message] do |f| %>
  <div class="input-group mt-3">
    <%= f.text_field :body, class: 'form-control me-1', required: true %>

    <div class="input-group-append">
      <%= f.submit t('actions.send_message'), class: "btn btn-success" %>
    </div>
  </div>
<% end %>
