<% flash.each do |level, text| %>
  <div class="container alert alert-<%= flash_class(level) %> alert-dismissible fade show mt-2 mb-0 pt-3" role="alert">
    <%= text %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
