.bg-lightsalmon {
  background-color: lightsalmon;
}

.bg-bisque {
  background-color: bisque;
}

.content {
  height: calc(100vh - 56px); // without header
}

.main {
  height: calc(100vh - 72px);
}

.room_content .messages {
    height: calc(100vh - 190px);
}
